body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1020px;
    margin: 0 auto;
}

/* ------------page-header------------*/
.page-header {
    background-color: #323232;
    padding-top: 10px;
}

.page-header h1 {
    display: none;
}

.page-header-nav {
    position: relative;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.page-header-nav::before {
    display: block;
    content: "";
    position: absolute;
    left: 25px;
    top: 65px;
    width: 40.196078%;
    height: 1px;
    background-color: #e4e9eb;
}

.page-header-nav::after {
    display: block;
    content: "";
    position: absolute;
    right: 35px;
    top: 65px;
    width: 40.196078%;
    height: 1px;
    background-color: #e4e9eb;
}

.page-header-nav .nav-logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 30px;
}

.page-header-nav img {
    height: 55px;
}

.page-header-nav .nav-logo::after {
    display: block;
    content: "";
    position: absolute;
    top: 55px;
    left: -18.6%;
    width: 0;
    height: 0;
    border: 45px solid transparent; 
    border-top: 25px solid #323232; 
}

.page-header-nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.page-header-nav span {
    color: #2f917d;
    font-weight: 400;
}

.page-header-nav a:hover {
    color: #2f917d;
    transition: 0.2s;
}  

/* ------------hexagon-container------------*/
.hexagon-container {
    padding-top: 89px;
    padding-bottom: 128px;
}

.hexagon {
    width: 180px;
    height: 210px;
    margin: 0 10px;
    margin-bottom: -42px;
    transform: rotate(120deg);
    overflow: hidden;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hexagon-container .hexagon:hover {
    transform: rotate(120deg) translate(-5px, 3px);
    transition: 0.1s ease-in-out;
}


.hex-img-1 {
    background: url('../img/hex-img-1.jpeg') no-repeat center;
}
.hex-img-2 {
    background: url('../img/hex-img-2.jpeg') no-repeat center;
}
.hex-img-3 {
    background: url('../img/hex-img-3.jpeg') no-repeat center;
}
.hex-img-4 {
    background: url('../img/hex-img-4.jpeg') no-repeat center;
}
.hex-img-5 {
    background: url('../img/hex-img-5.jpeg') no-repeat center;
}
.hex-img-6 {
    background: url('../img/hex-img-6.jpeg') no-repeat center;
}
.hex-img-7 {
    background: url('../img/hex-img-7.jpeg') no-repeat center;
}
.hex-img-8 {
    background: url('../img/hex-img-8.jpeg') no-repeat center;
}
.hex-img-9 {
    background: url('../img/hex-img-9.jpeg') no-repeat center;
}
.hex-img-10 {
    background: url('../img/hex-img-10.jpeg') no-repeat center;
}
.hex-img-11 {
    background: url('../img/hex-img-11.jpeg') no-repeat center;
}
.hex-img-12 {
    background: url('../img/hex-img-12.jpeg') no-repeat center;
}
.hex-img-13 {
    background: url('../img/hex-img-13.jpeg') no-repeat center;
}

.row {
    display: flex;
    justify-content: center;
    position: relative;
}
.line {
    position: absolute;
    width: 1px;
    height: 61.7647059%;
    background-color: #e4e9eb;
    top: 53px;
}
.line-before {
    left: 9.80392157%;
}
.line-after {
    right: 9.80392157%;
}

.row-native:last-child {
    position: relative;
}

.row-native:last-child::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -117px;
    width: 94.1176471%;
    height: 1px;
    left: 2.8%;
    background-color: #e4e9eb;
}

/* ------------person-container------------*/
.person {
    background-color: #2eb398;
}

.person-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 65px;    
}


.person-photo {
    background: url('../img/person_photo.jpeg') no-repeat center;
}

.person-info {
    position: relative;
    max-width: 55.8823529%;
    margin-left: 20px;
}

.person-info::before {
    display: block;
    content: "";
    position: absolute;
    top: -50px;
    left: -41.2280702%;
    width: 1px;
    height: 315px;
    background-color: #219d84;
}

.person-info::after {
    display: block;
    content: "";
    position: absolute;
    top: -50px;
    right: -17px;
    width: 1px;
    height: 315px;
    background-color: #219d84;
}

.person-info h2 {
    font-family: 'Maven Pro', sans-serif;
    color: #d7fcf5;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.person-info h3 {
    font-family: 'Maven Pro', sans-serif;
    color: #20816d;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
}

.person-info p {
    font-family: 'Lato', sans-serif;
    color: #d7fcf5; 
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    word-break: break-all;
    margin-bottom: 0;
    
}

.person-social {
    float: right;
    margin-top: 40px;
}

.social {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    font-size: 12px;
    position: relative;
}
.social::after {
    display: none;
    content: "";
    height: 1px;
    left: 15%;
    width: 75%;
    position: absolute;
    bottom: -4px;
    background-color: #B4FC41;
    transition: 0.1s ease-in;
    
}
.social:hover::after {
    display: block;
}
.social:active::after {
    bottom: 0;
}

.social:hover {
    transform: translateY(-3px);
    border-radius: 5px;
    transition: 0.1s ease-in;
}
.social:active {
    box-shadow: inset 0 0 1px 1px #B4FC41;
    transition: 0.1s ease-in;
}

.social-fb {
    background-color: #3660a0;
}
.social-tw {
    background-color: #2daae1;
}
.social-g-plus {
    background-color: #dc5443;
}
.social-p {
    background-color: #cb2027;
}
.social-in {
    background-color: #096c9b;
}
.social-dribbble {
    background-color: #f0558f;
}

/* ------------page-footer------------*/
.page-footer {
    background-color: #323232;
}

.page-footer-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 65px;
    position: relative;
}

.page-footer-container::before {
    display: block;
    content: "";
    position: absolute;
    top: 13px;
    height: 1px;
    width: 95%;
    background-color: #2b2b2b;
}

.page-footer-container::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 11px;
    height: 1px;
    width: 95%;
    background-color: #2b2b2b;
}

.page-footer-form {
    width: 581px;
    margin-right: 20px;
}

.page-footer-form fieldset {
    border: none;
    padding: 0;
}

.page-footer legend {
    font-family: 'Maven Pro', sans-serif;
    color: #e0e0e0;
    font-size: 30px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.page-footer h3 {
    font-family: 'Maven Pro', sans-serif;
    color: #bebebe;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
    margin-bottom: 20px;
}

.page-footer-form input {
    width: 550px;
    height: 12px;
    background-color: #454545;
    border: none;
    margin-bottom: 16px;
    padding: 13px 15px;
    color: #bebebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

:-moz-placeholder {
    color: #bebebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
::-webkit-input-placeholder { 
    color: #bebebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.page-footer-form textarea {
    color: #bebebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 550px;
    height: 124px;
    padding: 13px 15px;
    background-color: #454545;
    border: none;
    resize:none;
}

.page-footer-form-button {
    display: block;
    float: right;
    text-transform: uppercase;
    padding: 11px 30px;
    margin-top: 10px;
    color: #d7fcf5;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    background-color: #2eb398;
    border: none;
}

.page-footer-form-button:hover {
    box-shadow: 0 3px 5px -3px #B4FC41;
    transition: 0.1s ease-in;
}
.page-footer-form-button:active {
    box-shadow: 0 3px 5px -3px #B4FC41;
    color: #B4FC41;
    transition: 0.1s ease-in;
}

.footer-info {
    width: 180px;
    padding-top: 70px;
}

.footer-info p {
    color: #bebebe;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
    word-break: break-all;
    word-spacing: 5px;
}

.footer-info p b {
    color: #e0e0e0;
    font-weight: 900;
}

.footer-info a {
    display: block;
    text-decoration: none;
    color: #bebebe;
    font-family: Lato;                          
    font-size: 12px;
    font-weight: 700;
    line-height: 21.56px;
}

.footer-info a span {
    margin-left: 14px;
}

.footer-info a i {
    text-align: center;
    width: 11px;
    color: #2eb398;
    font-size: 11px;
    line-height: 11px;
}

.footer-info a:hover {
    color: #2eb398;
    transition: 0.1s ease-in;
}

.page-footer-copyright {
    background-color: #222222;
    padding: 15px 0;
}
.page-footer-copyright span {
    color: #454545;
    font-family: 'Maven Pro', sans-sarif;
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    padding: 0 40px;
}

@media only screen and (max-width : 1024px) {
    .container {
        max-width: 750px;
    }

    .hexagon-container {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .row-native:last-child::after {
        bottom: -90px;
    }

    .hexagon {
        width: 130px;
        height: 160px;
        margin: -17px 7px;
    }

    .line {
        top: 26px;
    }

    .page-header-nav::before {
        left: 30px;
        width: 35.196078%;
    }

    .page-header-nav::after {
       right: 40px;
       width: 35.196078%;
    }

    .page-footer-form {
        width: 430px;
    }

    .page-footer-form input {
        width: 400px;
    }
    .page-footer-form textarea {
        width: 400px;
    }

    .hex-layer-2 {
        background-size: 115%;
    }

    .person-photo {
        background-size: 240%;
    }
}

@media only screen and (max-width: 768px) {
        .container {
            max-width: 95%;
        }

        .hexagon-container {
            padding-top: 70px;
            padding-bottom: 90px;
        }

        .hexagon {
            width: 85px;
            height: 98px;
            margin: -10px 2px;
        }
    
        .row-native:last-child::after {
            bottom: -80px;
        }
        .line {
            display: none;
        }
    
        .page-header-nav::before {
            left: 5%;
            width: 32.196078%;
        }
    
        .page-header-nav::after {
           right: 6%;
           width: 32.196078%;
        }

        .nav-logo::after {
            left: -18.6%;
        }

        .person-info::before, 
        .person-info::after {
            display: none;
        }

        .person-container {
            flex-wrap: wrap;
            padding: 50px 0;
        }

        .person-info {
            max-width: 80%;
            margin: 0;
        }

        .person-container .hexagon {
            width: 180px;
            height: 210px;
        }
        .person-photo-hexagon {
            margin-bottom: 30px;
        }
        .page-footer-container {
            flex-wrap: wrap;
        }

        .page-footer-container::after,
        .page-footer-container::before {
            left: 2.254902%;
        }

        .footer-info {
            width: 70%;
        }

        .page-footer-container {
            padding: 50px 0;
        }

        .page-footer-form {
            margin-right: 0;
            width: 80%;
        }
    
        .page-footer-form input {
            width: 100%;
        }
        .page-footer-form textarea {
            width: 100%;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .hexagon-container {
            padding-top: 60px;
            padding-bottom: 70px;
        }

        .row-native:last-child::after {
            bottom: -60px;
        }
        .page-header-nav .nav-logo {
            margin: 0 10px;
        }

        .page-header-nav a {
            margin: 0 5px;
        }

        .page-header-nav::before {
            left: 5%;
            width: 24.196078%;
        }
    
        .page-header-nav::after {
           right: 6%;
           width: 24.196078%;
        }

        main .hexagon {
            width: 60px;
            height: 76px;
            margin: -10px 2px;
        }

        .row .hexagon:last-child {
            margin-right: 0;
        }
    }